.header-container{
    width: 100%;
    text-align: center;
}
.main-container{
    width: 100%;
    display: grid;
    justify-content: center;
    align-content: center;
}
img{
    width: 300px;
    height: 300px;
}



